.inpt {
  display: block;
  position: relative;
  input, textarea {
    display: block;
    width: 100%;
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    background-color: lighten($primary, 0.8);
    &:focus ~ span:nth-child(3) {
      width: 0;
    }
    &:focus ~ span:nth-child(2) {
      width: 100%;
    }
  }
  textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 100px;
    overflow: hidden;
  }
  span {
    &:nth-child(3){
      display: inline-block;
      height: 3px;
      width: 100%;
      transform: translate(0, -16px);
      background-color: lighten($primary, 6);
      transition: width 0.3s;
    }
    &:nth-child(2) {
      display: inline-block;
      height: 3px;
      width: 0;
      transform: translate(0, -16px);
      transition: width 0.3s;
    }
    &:nth-child(4) {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 10px;
      transition: font-weight 0.3s, transform 0.3s;
    }
  }
  .input-filled {
    transform: translate(-10px, -40px);
    font-weight: 600;
  }
}

@each $key, $val in $colors {
  .inpt-#{$key} {
    span:nth-child(2) {
      background-color: $val;
    }
  }
}